@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

:root {
	--text: #6b6375;
	--text-h: #08060d;
	--bg: #fff;
	--border: #e5e4e7;
	--code-bg: #f4f3ec;
	--accent: #aa3bff;
	--accent-bg: rgba(170, 59, 255, 0.1);
	--accent-border: rgba(170, 59, 255, 0.5);
	--social-bg: rgba(244, 243, 236, 0.5);
	--shadow:
		rgba(0, 0, 0, 0.1) 0 10px 15px -3px, rgba(0, 0, 0, 0.05) 0 4px 6px -2px;
}

body {
	margin: 0;
}

@theme {
	--color-Purple-600: hsl(246, 80%, 60%);
	--color-Orange-300(work): hsl(15, 100%, 70%);
	--color-Blue-300(play): hsl(195, 74%, 62%);
	--color-Pink-400(study): hsl(348, 100%, 68%);
	--color-Green-400(exercise): hsl(145, 58%, 55%);
	--color-Purple-700(social): hsl(264, 64%, 52%);
	--color-Yellow-300(self care): hsl(43, 84%, 65%);

	--color-Navy-950: hsl(226, 43%, 10%);
	--color-Navy-900: hsl(235, 46%, 20%);
	--color-Purple-500: hsl(235, 45%, 61%);
	--color-Navy-200: hsl(236, 100%, 87%);
}
